openapi: 3.0.3
info:
  title: University of Alberta Research Data (Borealis Dataverse) Info API
  description: Scoped OpenAPI 3.0 description of the publicly accessible, read-only Borealis (Canadian Dataverse Repository) endpoints used to query the University of Alberta research data collection (subtree "ualberta"). Borealis runs the open-source Dataverse software; the full machine-readable spec is published by the server at https://borealisdata.ca/openapi (OpenAPI 3.0.3, Dataverse API, v6.8.1-SP). This document captures only the public Search and Info operations confirmed live against the production host. API tokens (X-Dataverse-key header) are required only for account-scoped or write operations; public searching is open.
  version: v6.8.1-SP
  contact:
    name: API Evangelist
    url: https://borealisdata.ca/dataverse/ualberta
  license:
    name: Apache-2.0
    url: https://github.com/IQSS/dataverse/blob/develop/LICENSE.md
servers:
- url: https://borealisdata.ca/api
  description: Borealis Dataverse production Native/Search API
tags:
- name: Info
paths:
  /info/version:
    get:
      operationId: getVersion
      summary: Get Dataverse version
      description: Returns the running Dataverse software version and build.
      tags:
      - Info
      responses:
        '200':
          description: Version information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
components:
  schemas:
    VersionResponse:
      type: object
      properties:
        status:
          type: string
          example: OK
        data:
          type: object
          properties:
            version:
              type: string
              example: v6.8.1-SP
            build:
              type: string
              nullable: true
  securitySchemes:
    DataverseApiKey:
      type: apiKey
      in: header
      name: X-Dataverse-key
      description: API token required only for account-scoped or write operations. Public search and info endpoints do not require it.
